@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-pagination .ant-pagination-item {
  @apply rounded-full text-[#f26d21] border-none hover:bg-[#fde8df];
}

.custom-pagination .ant-pagination-item-active {
  @apply bg-[#f26d21] text-white font-bold border-none;
}

.custom-pagination .ant-pagination-prev,
.custom-pagination .ant-pagination-next {
  @apply text-[#f26d21] hover:bg-[#fde8df] rounded-full;
}

.custom-pagination .ant-pagination-disabled {
  @apply text-gray-400 cursor-not-allowed;
}
